body{
   /* margin: 0px;*/
   position: relative;
   display: inline-block;
   padding: 0px;
   background-color: black;
   /*background: black;*/
   /*background-image: url('/classy3.jpg');
    background-attachment: fixed;
    background-color: black;
    width: 1332px;
    height: auto;
    opacity: .8;
     color: white;*/
}
body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.3;
    background-image: url('/classy3.jpg');
    background-attachment: fixed;
   /* background-repeat: no-repeat;*/
}
nav{
    color: white;
    padding:0px;
    border: white solid 10px;
    border-width: 2px;
    width:99%;
    height:50px;
    position: fixed;
}
nav ul{
    white-space: nowrap;
}
ul li{
    list-style: none;
    display: inline-block;
    width: 25%;
    
    
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}
ul li a:hover{
    background-color: cyan
}

form{
    box-sizing: border-box;
    border: white solid 2px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    padding: 10px;
}
div{
    padding: 10px;
}
input, textarea{
    width: 40%;
}
button{
    position: relative;
    left: 210px;
}
button:hover{
    background-color: red;
}
table{
    border: 2px solid black;
    width: 200px;
    height: 100px;
    border-spacing: 10px;
}
h1{
    color: white;
    
    filter: brightness(1200%);
    margin-right: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 280px;
    margin-left: 40px;
    

}
 .web-dev {
    color: white;
    font-size: 50px;
    font: weight 1000px;;
    filter: brightness(1200%);
    margin-left: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 245px;
    margin-left: 9px;
}
.more{
    
    text-shadow:  whitesmoke;
    font-size: 50px;
    color: white;
}
 .more a{
    text-decoration: none;
    color: cyan;
    display: inline-block;
    border: cyan solid 3px;
    text-shadow: darkgrey;
    margin-left: 480px;
    position: relative;
    bottom: 129px;
    left: 50px;
}
nav ul li a{
    position: sticky;
   /* white-space: nowrap;
    overflow: hidden;
    transition: top 0.3s;*/
}
section{
    filter: brightness(1200%);
    font-size: 50px;
    font-weight: 200;
    color: white;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
span{
    text-decoration: underline;
}
/*.about-image{
    background-size: contain;
}